* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.wizard-form-section {
	background-color: grey;
}

.wizard-form {
	display: flex;
	flex-direction: column;
	margin: 5px;
	padding: 5px;
	justify-content: space-between;
}

.input-tag {
	border: 2px black solid;
	text-align: center;
}

.submit-form {
	font-size: 12px;
	margin-top: 5px;
	width: 15%;
	align-self: center;
	border: 2px black solid;
}
